services:
  - type: web
    name: streamlit-face-vital-monitor
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: |
      python --version
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: streamlit run streamlit_app.py --server.port $PORT --server.address 0.0.0.0 --server.headless true --server.enableCORS false --server.enableXsrfProtection false
