# streamlit>=1.28.0
# mediapipe==0.10.15
# numpy>=1.24.0
# scipy>=1.11.0
# matplotlib>=3.7.0
# pandas>=2.0.0
plotly>=5.15.0
# Pillow>=10.0.0
# reportlab>=4.0.0
streamlit-webrtc

aiortc
streamlit==1.28.1
opencv-python-headless==4.8.1.78
numpy==1.24.3
mediapipe==0.10.0
scipy==1.11.4
matplotlib==3.8.2
pandas==2.0.3
reportlab==4.0.7
Pillow==10.0.1
